<%- include('partials/header.ejs') %>

<h1><%= foundCampground.name %></h1>
<img src="<%= foundCampground.image %>" alt="">
<p><%= foundCampground.description %></p>

<%- include('partials/footer.ejs') %>